<div class="container">
  <div class="row mt-5">
    <div class="col-12 mx-auto col-lg-6">
      <h1 class="text-center">{{titulo}}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mx-auto col-md-6">
      <form #heroForm="ngForm" *ngIf="!sucesso" (ngSubmit)="enviar()">

        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" #nome="ngModel" (keyup)="textoDigitado(texto.value)" class="form-control" id="nome" name="nome" [(ngModel)]="cadastros.nome"
            required>
        </div>

        <div [hidden]="nome.valid || nome.pristine" class="alert alert-danger">
          Preencha o campo nome
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input #email="ngModel" type="email" class="form-control" id="email" name="email" ([ngModel])="cadastro.email" aria-describedby="emailHelp"
            [(ngModel)]="cadastros.email" required>
        </div>

        <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
          Preencha o campo email
        </div>

        <div class="form-group">
          <label for="login">Login</label>
          <input type="text" #login="ngModel" class="form-control" id="login" name="login" ([ngModel])="cadastro.login" placeholder="Digite seu login"
            [(ngModel)]="cadastros.login" required>
          <small id="emailHelp" class="form-text text-muted">Crie seu login de acesso ao sistema</small>
        </div>

        <div [hidden]="login.valid || login.pristine" class="alert alert-danger">
          Preencha o campo login
        </div>

        <div class="form-group">
          <label for="login">Senha</label>
          <input type="text" #senha="ngModel" class="form-control" id="senha" name="senha" ([ngModel])="cadastro.login" placeholder="Digite seu login"
            [(ngModel)]="cadastros.senha" required>
          <small id="emailHelp" class="form-text text-muted">Crie seu login de acesso ao sistema</small>
        </div>

        <div [hidden]="senha.valid || senha.pristine" class="alert alert-danger">
          Preencha o campo senha
        </div>

        <button class="btn btn-primary float-right" (click)="onClickMe($event)">Registrar</button>
        {{clickMessage}}
      </form>
    </div>

  </div>

  <div class="row">
    <div class="col-6 mx-auto mt-4">
      <div *ngIf="sucesso" class="alert alert-success" role="alert">
        Cadastro realizado com sucesso! {{debug()}}
      </div>
    </div>
  </div>
</div>